body{
	margin: 0;
	padding: 0;
	background: url(3.gif);
}
input[type="submit"]{
	background: white;
}
.wrap{
	width: 1000px;
	margin: 0 auto;
}
.search{
}
.header{
	background-color: black;
	margin: 0;
	padding: 0;
	height: 160px;
}
.logo{
	width: 160px;
	height: 160px;
	float: left;
}
nav{
	background: url(4.gif);
	padding: 20px;
}
.nav1{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 20px;
	text-decoration: none;
}
.news{
	margin: 0;
	padding: 0;
}
.slider{
	margin: 0;
}
.left{
	padding: 0 0 15px 0;
	width: 720px;
	float: left;
	background: white;
	margin: 0;
}
a{
	display: inline-block;
}
.right{
	background: #F5F5F5;
	margin: 0;
	width: 250px;
}
span{
	font-family: Arial, Helvetica, sans-serif;
}
.left_l{
	width: 222px;
	float: left;
}
.left_m{
	width: 222px;
}
/*.list li{
	list-style-type: none;
}
.list{
	margin: 0;
	margin-left: 20px;
}
*/
	
